# Binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out

# Go
*.o
*.a
*.prof
/vendor/

# IDE
.idea/
*.swp
*.swo
.vscode/

# Env
.env

# Build
/tmp/

# Storage
/storage/
/dist/

# OS
.DS_Store
Thumbs.db

# Go workspace
go.work
go.work.sum

# Coverage
cover.out
coverage.out
*.trace

.claude
/docs